body {
    font-size: 0.9em;
    color: #111111;
}

.md-content {
    color: inherit;
    h3 {
        background-color: #222527;
    }
    button {
        font-size: 1em;
    }
}

.btn {
    font-size: 1.1em;
}

.btn-sm {
    font-size: 1em;
}

.select2-container--default .select2-selection--multiple {
    padding: 1px;
    .select2-selection__choice {
        padding: 3px 10px;
    }
}

.badge-md {
    padding: 6px 9px;
    font-size: 13px;
}

.breadcrumb-title li:last-child a {
    color: #050a55;
}

.main-body .page-wrapper .page-header-title span {
    font-size: 14px;
    color: #3a3b3b;
}

.sweet-alert h2 {
    color: #000655;
    font-size: 26px;
}

.sweet-alert p {
    color: #2c2c2c;
    font-size: 16px;
}

.main-body .page-wrapper .page-header-title h4 {
    text-transform: none !important;
}

.main-body .page-wrapper .page-header-title span {
    text-transform: none !important;
}

select.select2-choice-width-40 + .select2-container--default .select2-selection--multiple .select2-selection__choice {
    width: 40%;
}

.main-body .page-wrapper {
    transition: none;
}

#input-ip-list {
    width: 100%;
    height: 460px;
    resize: none;
    font-size: 1em;
    padding: 8px 10px;
}

#table-parsed-ips,
#table-current-ips,
#table-new-ips,
#table-diff-ips
{
    tbody {
        height: 360px; overflow-y: scroll; overflow-x: hidden; display: block;
    }
    th, td {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}


.slider.slider-horizontal {
    .slider-tick, .slider-handle {
        top: 0
    }
    .slider-track {
        height: 6px !important;
        margin-top: -3px !important;
    }
}


.main-loader {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.12);
    position: fixed;
    z-index: 999999;
    top: 0;
    .loader-block {
        left: 50%;
        top: 50%;
        position: absolute;
    }
}
